@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* 초기화 코드 */
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, p{
    margin: 0;
    padding: 0;
}
html{
    --main-color:#915d33;
}
body{
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-size: 18px;
    word-break: keep-all;
    background-color: #f9eedc;
    /* font-weight: 400; */
}
/* 공통 클래스 */
.blind{
    display: none;
}
.inner{
    width: 79%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
header a{
    color: #9f6e46ea;
    
}
header #gnb>li>a:hover{
    color: #915d33;
}
li a span{
    display:inline-block;
    position:relative;
    vertical-align:top;
    height: 40px;
}
li a span::after{
    content:'';
    display:block;
    position:absolute;
    bottom:-2px;
    left:0;
    width:0;
    height:0;
    border-top:3px solid var(--main-color);
    border-radius: 50%;
    pointer-events:none;
    transition:width 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -ms-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
li a:hover span::after{
    width:100%;
    transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

/* logo */
header {
    /* position: fixed; */
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 80px;
    /* background-color: yellowgreen; */
    background-color: #f9eedc;
}
header .ico a{
    box-sizing: border-box;
    display: inline-block;
    float: left;
    display: block;
    width: 90px;
    height: 32px;
    margin:22px 0;
    background-image: url("../img/roudding_logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



/* 메뉴 */
header #gnb {
    text-align: center;
    box-sizing: border-box;
     /* border: 1px solid blue; */
     display: inline-block;
     float: right;
     margin-top: 18px;
}

header #gnb>li {
       display: inline-block;
       margin-left: 50px;
       padding: 0 5px;
       /* border: 1px solid red; */
   }
header #gnb>li>a{
    box-sizing: border-box;
    /* display: inline-block; */
    height: 48px;
    line-height:50px;
    /* font-weight: bold; */
    font-size: 16px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 3px solid transparent;
}

img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* section{
    float: clear;
    margin-top: 0;
} */

/* #target1{
    background-image: url("../img/main.png");
    background-repeat: no-repeat;
    width: 100%;
    height: ;
    
} */
#target1 p{
    text-align: center;
    display: inline-block;
    z-index: 3;
}



img{
    vertical-align: bottom;
}

/* 아이패드 가로 / 랩탑컴퓨터 */
@media screen and (min-width: 1024px) {
    body {
        /* background-color: green; */
    }
}
/* 데스크탑 1440 */
@media screen and (min-width: 1440px) {
    header .ico a{
        width: 90px;
        height: 32px;
        margin:22px 0;
    }
    /* header #gnb>li>a{
        font-size: 14px;
    } */
   
}
#toTop { 
    border: 1px solid red;
    position: fixed; 
    right: 1%;
    bottom: 3%; 
    /* width: 5%; */
    height: 85px;
    width: 80px;
    display: none; 
    z-index: 9999; 
    background-image: url("../img/top.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* 데스크탑 1920 */
@media screen and (min-width: 1920px) {
    header .ico a{
        width: 120px;
        height: 42px;
        margin: 32px 0;
    }
    header #gnb>li>a{
        font-size: 21px;
    }
    #toTop { 
        height: 95px;
        width: 80px;
    }

    @media screen and (min-width: 768px){
        header .ico a{
            width: 120px;
            height: 42px;
            margin: 32px 0;
            display: block;
            clear: both;
        }
     
          
    }
    
}
