@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* 초기화 코드 */
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, p{
    margin: 0;
    padding: 0;
}
html{
    --main-color:#915d33;
}
body{
    font-family: 'Varela Round', sans-serif;
    font-weight: 800;
    text-align: center;
    word-break: keep-all;
    background-color: #f9eedc;
    /* font-weight: 400; */
}
/* 공통 클래스 */
.blind{
    display: none;
}
.inner{
    width: 79%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
header a{
    color: #9f6e46ea;
    
}
header #gnb>li>a:hover{
    color: #915d33;
}
li a span{
    display:inline-block;
    position:relative;
    vertical-align:top;
    height: 40px;
}
li a span::after{
    content:'';
    display:block;
    position:absolute;
    bottom:-2px;
    left:0;
    width:0;
    height:0;
    border-top:3px solid var(--main-color);
    border-radius: 50%;
    pointer-events:none;
    transition:width 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -ms-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition:width 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
li a:hover span::after{
    width:100%;
    transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition:width 240ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

/* logo */
header {
    /* position: fixed; */
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 80px;
    /* background-color: yellowgreen; */
}
header .ico a{
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: inline-block;
    float: left;
    display: block;
    width: 78px;
    height: 30px;
    margin:22px 0;
    background-image: url("../img/roudding_logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



/* 메뉴 */
header #gnb {
    text-align: center;
    box-sizing: border-box;
     /* border: 1px solid blue; */
     display: inline-block;
     float: right;
     margin-top: 18px;
}

header #gnb>li {
       display: inline-block;
       margin-left: 30px;
       padding: 0 5px;
       /* border: 1px solid red; */
   }
header #gnb>li>a{
    box-sizing: border-box;
    /* display: inline-block; */
    height: 48px;
    line-height:50px;
    /* font-weight: bold; */
    font-size: 40%;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 3px solid transparent;
}
/* 스크롤 메뉴 */
.scroll_01{  background-color: #f9eedc; }
/* 아래로 스크롤하면 배경이 사라지고 위로 스크롤 하면 배경이 생깁니다. */
.scroll_01{ position:fixed;left:50%;width:100%;padding:0;text-align:center;transform:translate(-50%);transition:all .3s}

img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* section{
    float: clear;
    margin-top: 0;
} */

/* #target1{
    background-image: url("../img/main.png");
    background-repeat: no-repeat;
    width: 100%;
    height: ;
    
} */
#target1 p{
    text-align: center;
    display: inline-block;
    z-index: 3;
}



img{
    vertical-align: bottom;
}


#toTop { 
    /* border: 1px solid red; */
    position: fixed; 
    right: 1%;
    bottom: 3%; 
    width: 30px;
        height:30px;
    display: none; 
    z-index: 9999; 
    background-image: url("../img/top.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.you{
    /* width: 956px;
    height: 538px; */
    
}
iframe{
    border: 15px solid #fffcf7;
    border-radius: 2%;
}

@media screen and (min-width: 375px) {
    #toTop { 
        width: 30px;
        height:30px;
    }
}
/* 아이폰 678 플러스 */

@media screen and (min-width: 414px) {
    #toTop { 
        width: 40px;
        height:40px;
    }
 

}
/* 아이패드 세로 */
@media screen and (min-width: 768px) {
    #toTop { 
        width: 50px;
        height:50px;
    }
    header #gnb>li>a{
        font-size: 40%;
    }
    header #gnb>li {
        margin-left: 20px;
    }
    iframe{
        width: 500px;
        height: 283px;
    }
}

/* 아이패드 가로 / 랩탑컴퓨터 */
@media screen and (min-width: 1024px) {
    #toTop { 
        width: 60px;
        height:60px;
    }
    header #gnb>li>a{
        font-size: 75%;
    }
    header .ico a{
        width: 78px;
        height: 30px;
    }
    iframe{
        width: 700px;
        height: 393px;
    }
}
/* 데스크탑 1440 */
@media screen and (min-width: 1440px) {
    #toTop { 
        width: 70px;
        height:70px;
    }
    
    /* header .ico a{
        width: 90px;
        height: 32px;
        margin:22px 0;
    } */
    /* header #gnb>li>a{
        font-size: 14px;
    } */
    /* .inner{
        width: 1200px;
    }
    */
    header #gnb>li>a{
        font-size: 100%;
    }
    header .ico a{
        width: 91px;
        height: 35px;
    }
    header #gnb {
         margin-top: 18px;
    }
    iframe{
        width: 939px;
        height: 528px;
    }

}
/* 데스크탑 1920 */
@media screen and (min-width: 1720px) {
    #toTop { 
        width: 100px;
        height:100px;
        
    }
 header #gnb>li>a{
        font-size: 110%;
    }
    header .ico a{
        width: 125px;
        height: 45px;
    }
    iframe{
        width: 1200px;
        height: 674.8px;
    }
    
}
/* 데스크탑 1920 */
@media screen and (min-width: 1920px) {
    #toTop { 
        width: 100px;
        height:100px;
        
    }
 header #gnb>li>a{
        font-size: 120%;
    }
    header .ico a{
        width: 130px;
        height: 46px;
    }
    header #gnb {
         margin-top: 22px;
    }
    iframe{
        width: 1200px;
        height: 674.8px;
    }
}

